<footer id="footer">
	<div class="container">
        <div class="footer-box flex-wrap flex-middle">
            <ul class="nav nav-pills">
               <li ><a href="#"><img src="./imgs/home.png"/></a></li>
               <li ><a href="#"><img src="./imgs/practise.png"/></a></li>
               <li ><a href="#"><img src="./imgs/plan.png"/></a></li>
               <li ><a href="#"><img src="./imgs/chart.png"/></a></li>
               <li ><a href="#"><img src="./imgs/time.png"/></a></li>
            </ul>
        </div>
          
     </div>
</footer>
