<section>
    <div class="container">
        <h3 align='center'> College Roadmap Application </h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">
                <div  class="flex-wrap flex-middle">
                    <div class="flex-wrap flex-between flex-center list-item-box">
                        <img src="./imgs/practise.png" alt=""> <span>Short Term Plan</span><span class="align-right">></span>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-danger">
                <div class="flex-wrap flex-middle">
                    <div class="flex-wrap flex-between flex-center list-item-box" >
                        <img src="./imgs/plan.png" alt=""> <span>Long Term Plan</span><span class="align-right">></span>
                    </div>              
                </div>
            </li>
            <li class="list-group-item list-group-item-danger">
                <div class="flex-wrap flex-middle">
                    <div class="flex-wrap flex-between flex-center list-item-box" >
                        <img src="./imgs/chart.png" alt=""> <span>Course Progression</span><span class="align-right">></span>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-danger">
                <div class="flex-wrap flex-middle">
                    <div class="flex-wrap flex-between flex-center list-item-box" >
                        <img src="./imgs/time.png" alt=""> <span>Long Term Plan</span><span class="align-right">></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="container">
    <h3 align='center'> Current Courses </h3>
    <ul class="list-group">
            <li class="list-group-item list-group-item-danger">CS161</li>
            <li class="list-group-item list-group-item-danger">CS162</li>
            <li class="list-group-item list-group-item-danger">CS271</li>
        </ul>
</div>
