
<section>
    <div class="container text-center">
        <h1>{{major}}</h1>
    </div>
</section>


<div class="container">
    <div class="row">
        <div style="width: 100%; max-width: 530px; padding: 15px; margin: auto;">
            <svg class="mb-3 bd-placeholder-img img-thumbnail" width="530" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
                 aria-label="A generic square placeholder image with a white border around it,
                  making it resemble a photograph taken with an old instant camera: 200x200"
                 preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>A generic square placeholder image with a white border around it, making it resemble
                    a photograph taken with an old instant camera</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Video</text>
            </svg>
            <p class="fs-5 mt-4" style="width: 100%;">
                .dlrow gnignahc-reve na fo snezitic lacihte sa seiticapac 'stneduts esaercni ot redro ni senilpicsid gnoma spihsnoitalerretni fo gnidnatsrednu setomorp eroC ccaB eht ,yltnatropmI .seussi lateicos rojam gnitaulave nehw noitamrofni dna saedi ezisehtnys ot dna ,ylevitaerc dna yllacitirc kniht ot stneduts seriuqer eroC ccaB eht ,seitinamuh dna ,stra ,secneics laicos dna larutan yb demrofnI .dlrow nredom eht fo
                gnidnatsrednu rehtruf 'stneduts rof noitadnuof eht si seveileb ytlucaf USO eht tahw stneserper mulucirruC )eroC ccaB( eroC etaerualaccaB ehT
            </p>
            <form  class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="/selected?course={{major}}" class="btn btn-primary">Save</a>
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <button type="button" class="btn  btn-primary">Confirm</button>
                </div>
            </form>

        </div>

    </div>
</div>