html {
	-webkit-font-smoothing: antialiased;
}
   
body {
    background: #ffffff;
    font-family: sans-serif;
    overflow-x: hidden;
}

/*====================================
	NAVIGATION
====================================*/
.main-nav {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
}

/*====================================
	MAIN
====================================*/

section {
    position: relative;
    padding: 100px 0;
}

.centered {
    text-align: center;
}
  
/*====================================
	PLANNER TABLE
====================================*/
.planner {
    background: lightgray;
    margin: 40px auto;
    padding: 5px;
    width: 40%;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
   
.planner th {
    color: #FFF;
    background: #313131;
    border-right: 1px solid #344538;
    font-weight: 400;
    padding: 15px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    vertical-align: middle;
}
   
.planner th:last-child {
    border-right: none;
}
   
.planner tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
   
.planner tr:last-child {
    border-bottom: none;
}
   
.planner td {
    background: #FFFFFF;
    font-weight: 300;
    border: 1px solid gray;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
   
.planner td:last-child {
    border-right: 0px;
}


/*====================================
	FORM (temporary - from a previous project)
====================================*/
.generic-form,
.sub-menu {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin: 2em auto;
    padding: 30px;
    width: 70%;
}

.sub-menu {
    width: 60%;
}
   
.generic-form h2 {
    background: #666666;
    color: #BEBEBE;
    font-size: 20px;
    font-weight: 400;
    margin: -30px -30px 30px -30px;
    padding: 20px;
    text-transform: uppercase;
}
   
.generic-form label, .generic-form legend {
    color: #cc8500;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0 10px 0;
}

.generic-form legend {
  border-bottom: none;
}
   
.generic-form input[type="radio"],
.generic-form input[type="checkbox"],
.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="date"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
    font-size: 16px;
    padding: 4px 0;
    margin-bottom: 5px;
}
   
.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="date"],
.generic-form input[type="time"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
    display: block;
    height: 20px;
    max-width: 100%;
    outline: none;
}

.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
     width: 100%;
   }

.button {
    background: #ffa700;
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
}

.generic-form input[type="submit"] {
    background-color: #ffa700;
    border: 1px solid #cc8500;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding: 8px 18px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
   
.generic-form input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}
   
.generic-form textarea {
    max-height: 400px;
    min-height: 100px;
    min-width: 100%;
}

/*====================================
	
====================================*/