<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>College Roadmap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    {% block head %}
    {% endblock %}

</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="fs-4">College Roadmap</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!--<li><a href="/dashboard" class="nav-link px-2 text-secondary">Dashboard</a></li> -->
                <li><a href="/quiz" class="nav-link px-4 text-primary">Quiz</a></li>
                <li><a href="/internships" class="nav-link px-4 text-primary">Internships</a></li>
                <li><a href="/majors" class="nav-link px-4 text-primary">Majors</a></li>
                <li><a href="/dashboard" class="nav-link px-4 text-primary">Dashboard</a></li>
                <li><a href="/admin" class="nav-link px-4 text-secondary">Admin</a></li>
            </ul>


            <div class="text-end">
                {% if user %}
                    <a href="/user/profile" class="btn btn-primary "><i class="bi bi-person me-1"></i>Hi, {{ user.username }}</a>
                    <a href="/auth/logout" class="btn btn-danger ">Logout</a>
                {% else %}
                    <a href="/auth/login" class="btn btn-outline-primary me-2">Login</a>
                    <a href="/auth/signup" class="btn btn-success ">Sign-Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% block nav %}


{% endblock %}

<div class="container mt-3">
    {% if error |length  %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif  %}

    {% if success |length  %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations!</strong> {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif  %}
</div>

{% block content %}{% endblock %}

<div class="container">

    <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
    </footer>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
{% block script %}{% endblock %}


</body>
</html>