{% extends 'base.html' %}



{% block content %}
<div class="container py-4">
    <div class="row mb-3">
        <a class="col btn btn-outline-secondary btn-lg me-2 " href="/planner">All Courses</a>
        <a class="col btn btn-primary btn-lg me-2" href="/choosecourse">Choose Courses</a>
    </div>
    <div class="row pt-3">
        <div class="col-md-6 col-lg-6">

            <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="country" class="form-label">Semester</label>
                            <select class="form-select" id="country" required="">
                                <option value="">Choose...</option>
                                <option>Winter 2019</option>
                                <option>Fall 2020</option>
                                <option>Winter 2020</option>
                                <option>Fall 2021</option>
                                <option>Winter 2021</option>
                                <option>Fall 2022</option>
                            </select>
                        </div>
                    </div>
            </form>

            <div class="row">
                <div class="col-md-12 py-3">
                    <button type="button" class="btn btn-light my-2">Math AAA</button>
                    <button type="button" class="btn btn-secondary my-2">Math 123</button>
                    <button type="button" class="btn btn-light my-2">CS BBB</button>
                    <button type="button" class="btn btn-secondary my-2">CS 100</button>
                    <button type="button" class="btn btn-light my-2">Cloud Computing</button>
                    <button type="button" class="btn btn-secondary my-2">MATH 333</button>
                    <button type="button" class="btn btn-light my-2">DataBase 123</button>
                    <button type="button" class="btn btn-light my-2">NetWork 123</button>
                    <button type="button" class="btn btn-light my-2">NLP 123</button>
                    <button type="button" class="btn btn-light my-2">NLP 444</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Selected Courses</span>
                <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Math 123</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">CS 100</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">MATH 333</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (Cr.)</span>
                    <strong>15</strong>
                </li>
            </ul>

            <form class="card p-2">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Save Courses</button>
            </form>
        </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
    </footer>
</div>

{% endblock %}



