{% extends 'base.html' %}



{% block content %}
<div class="container py-4">
    <div class="row mb-3">
        <a class="col btn btn-outline-secondary btn-lg me-2 " href="/planner">All Courses</a>
        <a class="col btn btn-primary btn-lg me-2" href="/choosecourse">Choose Courses</a>
    </div>
    <div class="row pt-3">
        <div class="col-md-6 col-lg-6">

            <div class="row">
                <div class="col-md-12 py-3">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">All Courses</span>
                    </h4>

                    {% for c in major.courses %}
                        <button type="button" class="btn btn-light my-2 courses" id="{{c.id}}" data-name="{{c.name}}"
                                data-courseid="{{c.id}}" data-desc="{{c.desc}}">{{c.name}}</button>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Selected Courses</span>
            </h4>


            <form class="card p-2" id="form" method="post">
                <ul class="list-group mb-3" id="selectedList">

                </ul>
                <input name="courseInputID" id="courseInputID" value="" hidden>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Choose Courses</button>
            </form>
        </div>
    </div>


</div>

{% endblock %}


{% block script %}
<script>
    var buttons = document.getElementsByClassName("courses");
    var courseId = [];
    var selectedList = document.getElementById("selectedList");
    var courseInputID = document.getElementById("courseInputID");


    for (var i=0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function (e) {
            var classStr = e.currentTarget.className;
            if (classStr.includes("light")){
                e.currentTarget.className = "btn btn-success my-2 courses";
            }else{
                e.currentTarget.className = "btn btn-light my-2 courses";
            }
            addToSelectedCourseList();
        })
    }

    function addToSelectedCourseList(){
        var content = "";
        courseId = [];
        for (var i=0; i < buttons.length; i++) {
            if (buttons[i].classList.contains("btn-success")) {
                content += "                <li class=\"list-group-item d-flex justify-content-between lh-sm\">\n" +
                    "                    <div>\n" +
                    "                        <h6 class=\"my-0\">"+ buttons[i].dataset.name  +"</h6>\n" +
                    "                        <small class=\"text-muted\">"+ buttons[i].dataset.desc  +"</small>\n" +
                    "                    </div>\n" +
                    "                </li>";
                courseId.push(buttons[i].dataset.courseid);
            }
        }
        selectedList.innerHTML = content;
        courseInputID.setAttribute("value", courseId.join(" "));
    }

</script>
{% endblock %}
