{% extends 'base.html' %}



{% block content %}
<div class="container py-4">
    <div class="row mb-3">
            <a class="col btn btn-secondary btn-lg me-2 disabled" href="/choosemajor">Choose Major</a>
            <a class="col btn btn-primary btn-lg me-2" href="/planner">Course Planner</a>
            <a class="col btn btn-success btn-lg" href="">My Degrees</a>
    </div>
    <div class="row">
        <div class="card text-center">
            <div class="card-header">
                My Profile
            </div>
            <div class="card-body">
                <h5 class="card-title">Student: XYZ</h5>
                <span class="badge bg-primary">Student ID: 9123129119</span>
                <span class="badge bg-secondary">Degree: Bachelor of Science</span>
                <span class="badge bg-success">Level: Undergraduate</span>
                <span class="badge bg-danger">Class Standing: Senior</span>
                <span class="badge bg-warning text-dark">Major Computer Science</span>
                <span class="badge bg-info text-dark">Degree BS, College of Engineering</span>
                <span class="badge bg-light text-dark">Campus Oregon State - Corvallis</span>
                <span class="badge bg-dark">International Student: Y</span>
            </div>
            <div class="card-footer text-muted">
                Last Logined: 2 days ago
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card text-center mt-5">
            <div class="card-header">
                Current Semester : Fall 2019
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Course</th>
                        <th scope="col">Progress</th>
                        <th scope="col">Cr.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>CS 188</td>
                        <td>in progress</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Math 120</td>
                        <td>in progress</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">total</td>
                        <td>18</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
    </footer>
</div>

{% endblock %}



