{% extends 'base.html' %}



{% block content %}

<div class="container py-5">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">Internships</h1>
        <a href="https://www.indeed.com/applystart?jk=b3e800da117c047e&from=vj&pos=bottom&mvj=0&jobsearchTk=1ftp9drsspib0800&spon=0&sjdu=YmZE5d5THV8u75cuc0H6Y26AwfY51UOGmh3Z9h4OvXgxMX5dTatHCPqiYSCWMaWTGQFsFDP3gSdjjHZnj9ZEfg&vjfrom=vjs&astse=73b4cc7eba124fd4&assa=90">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Software Engineer Intern</h2>
                    <h5>Intel</h5>
                </div>
            </div>
        </a>
        <a href="https://www.linkedin.com/jobs/view/civil-engineering-intern-construction-at-state-of-oregon-2937774875?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Civil Engineering Intern</h2>
                    <h5>State of Oregon</h5>
                </div>
            </div>
        </a>
        <a href="https://www.jobilize.com/job/us-salem-construction-management-engineering-internship-riverbend-a455e5cacbea66?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Construction Management Internship</h2>
                    <h5>RiverBend Materials</h5>
                </div>
            </div>
        </a>
        <a href="https://qtrbac.com/topjobs/chemical-systems-summer-2022-internship-positions--corvallis-or--8440a02e0bd6906ba1a5986c85a1a205?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Chemical Systems Internship</h2>
                    <h5>Cummins</h5>
                </div>
            </div>
        </a>
        <a href="https://www.linkedin.com/jobs/view/machine-learning-engineering-intern-ai-for-gaming-and-graphics-at-nvidia-2878528782?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Machine Learning Engineering Intern</h2>
                    <h5>Nvidia</h5>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}