{% extends 'base.html' %}

{% block nav %}
  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet">
  <style>
    body {
      text-align: center;
    }
  </style>
{% endblock %}


{% block content %}
<div class="row d-flex justify-content-center">
  <main class="form-signin col-md-8 col-sm-8">
    <form class="mt-5" method="post">

      <h1 class="h3 mb-3">Log In</h1>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username"    name="username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password"   name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </main>

</div>



{% endblock %}
