{% extends 'base.html' %}



{% block content %}

<div class="container py-5">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">Majors</h1>
        <a href="https://eecs.oregonstate.edu/undergraduate-programs/computer-science">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Computer Science</h2>
                </div>
            </div>
        </a>
        <a href="https://cce.oregonstate.edu/content/civil-engineering">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Civil Engineering</h2>
                </div>
            </div>
        </a>
        <a href="https://cce.oregonstate.edu/content/construction-engineering-management">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Construction Engineering Management</h2>
                </div>
            </div>
        </a>
        <a href="https://mime.oregonstate.edu/academics/undergrad/me">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Mechanical Engineering</h2>
                </div>
            </div>
        </a>
        <a href="https://cbee.oregonstate.edu/environmental-engineering">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Environmental Engineering</h2>
                </div>
            </div>
        </a>
        <a href="https://cbee.oregonstate.edu/chemical-engineering">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Chemical Engineering</h2>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}