{% extends 'base.html' %}



{% block content %}

<div class="container py-5 ">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">Majors</h1>
        {% for m in majors %}
            <a href="https://eecs.oregonstate.edu/undergraduate-programs/computer-science">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>{{ m.name }}</h2>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</div>


{% endblock %}