{% extends 'base.html' %}



{% block content %}
<div class="container py-4">
    <div class="row mb-3 text-center">
        <h3> Major: {{ user.major.name }}</h3>
    </div>
    <div class="row mb-3">
        <a class="col btn btn-primary btn-lg me-2" href="/planner">All Courses</a>
        <a class="col btn btn-outline-secondary btn-lg me-2" href="/choosecourse">Choose Courses</a>
    </div>

    <div class="row">
        <div class="card text-center mt-5">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Course</th>
                        <th scope="col">Description</th>
                        <th scope="col">Cr.</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for c in major.courses %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ c.name}}</td>
                                <td>{{ c.desc}}</td>
                                <td>{{ c.credit}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}



