{% extends 'base.html' %}



{% block content %}

<div class="container py-5">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">How would you be described in one word?</h1>
        <a href="/q6a">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Social</h2>
                </div>
            </div>
        </a>
        <a href="/q6b">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Tinkerer</h2>
                </div>
            </div>
        </a>
        <a href="/q6c">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Logical</h2>
                </div>
            </div>
        </a>
        <a href="/q6d">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Techy</h2>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}