{% extends 'base.html' %}



{% block content %}

<div class="container py-5">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">What?</h1>
        <a href="/q2a">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Option 1</h2>
                </div>
            </div>
        </a>
        <a href="/q2b">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>option 2</h2>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}