{% extends 'base.html' %}



{% block content %}

<div class="container py-5">
    <div class="d-grid gap-5">
        <h1 class="display-5 fw-bold">Would you rather?</h1>
        <a href="/q3a">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Solve math problem</h2>
                </div>
            </div>
        </a>
        <a href="/q3b">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Write short essay</h2>
                </div>
            </div>
        </a>
    </div>
</div>


{% endblock %}